h1 {
	font-size: 38px;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
}

#navbar {
	margin: 5% 2% 2% 2%;
	border: 1px solid #fff;
	padding: 0 0 0 5%;
}

.navbar-nav {
	width: 90%;
	margin: 0 0 -1% 27%;
}

.z0 {
	z-index: 0;
	position: absolute;
}

.active {
	background-color: none;
}

.collapse {
	background-color: rgba(0, 0, 0, 0.0);
}

#active {
	background-color: rgba(0, 0, 0, .0);
	color: #fff;
	margin: 0 0 0 -12%;
	width: 35%;
}

#WinstonsHumidor {
	font-family: serif;
	color: #fff;
	font-size: 4.5em;
	margin: 22% 0 0 3%;
}

.hometext {
	color: #fff;
	margin: 2% 0 10% 3%;
	
}

#readmore {
	
}

#carticon {
	margin: -1.4% -14.25% 0 0;
	float: right;
}

.tippytop {
	text-align: right;
	float: right;
	margin: .3% 2% 0 0;
	color: #fff;
	font-family: serif;
}

#tippytop {
		margin: 1.25% 5% 0 0;
}

.homebody {
	border: 1px solid #fff;
	margin: 0 2% 10% 2%;
}