@font-face {
    font-family: 'Fancy';
    src: url('type/SundayBestFancyShadow-Simple-webfont.eot');
    src: url('type/SundayBestFancyShadow-Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/SundayBestFancyShadow-Simple-webfont.woff2') format('woff2'),
         url('type/SundayBestFancyShadow-Simple-webfont.woff') format('woff'),
         url('type/SundayBestFancyShadow-Simple-webfont.ttf') format('truetype'),
         url('type/SundayBestFancyShadow-Simple-webfont.svg#sunday_best_fancy_shadosimple') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chiser';
    src: url('type/chiser.eot');
    src: url('type/chiser.eot?#iefix') format('embedded-opentype'),
         url('type/chiser.woff2') format('woff2'),
         url('type/chiser.woff') format('woff'),
         url('type/chiser__.ttf') format('truetype'),
         url('type/chiser.svg#chiser') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chiseb';
    src: url('type/chiseb.eot');
    src: url('type/chiseb.eot?#iefix') format('embedded-opentype'),
         url('type/chiseb.woff2') format('woff2'),
         url('type/chiseb.woff') format('woff'),
         url('type/chiseb__.ttf') format('truetype'),
         url('type/chiseb.svg#chiser') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-size: 38px;
}

body {
	background-image: url(backgrounds/cigarback.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: ;
	
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
}

#navbar {
	margin: 5% 2% 2% 2%;
	border: 1px solid rgba(176, 165, 147, .8);
	padding: 0 0 0 5%;
}

.navbar-nav {
	width: 90%;
	margin: 0 0 0% 27%;
}

.active {
	background-color: none;
}

.collapse {
	background-color: rgba(0, 0, 0, 0.0);
}

#active {
	background-color: rgba(0, 0, 0, .0);
	color: rgba(176, 165, 147, .8);
	margin: 0 0 0 -15%;
	width: 40%;
	font-family: 'chiser' sans-serif;
	font-size: 1.2em;
}

#carticon {
	margin: -1.4% -14.25% 0 0;
	float: right;
}

.tippytop {
	text-align: right;
	float: right;
	margin: .3% 2% 0 0;
	color: #fff;
	font-family: serif;
}

#tippytop {
		margin: 1.25% 5% 0 0;
}


.homebody {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 5% 0 16% 0%;
	margin: -12% 0 0 0;
}

.hometext {
	border: rgba(176, 165, 147, .8) 1px solid;
	margin: 5% 2% 0 2%;
	padding: 0 5% 7% 5%;
}

#WinstonsHumidor {
	font-family: 'Fancy' serif;
	color: rgba(176, 165, 147, .7);
	font-size: 10rem;
	margin: 15% 0 0 3%;
	width: 30%;
}

#logo {
	float: right;
	margin: -30% 7% 0 0;
	width: 30%;
}

#homep {
	font-family: 'chiser' sans-serif;
	color: #fff;
	font-size: 1.5em;
	width: 68%;
	margin: 0 0 0 2%;
}