@font-face {
    font-family: 'Fancy';
    src: url('type/SundayBestFancyShadow-Simple-webfont.eot');
    src: url('type/SundayBestFancyShadow-Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/SundayBestFancyShadow-Simple-webfont.woff2') format('woff2'),
         url('type/SundayBestFancyShadow-Simple-webfont.woff') format('woff'),
         url('type/SundayBestFancyShadow-Simple-webfont.ttf') format('truetype'),
         url('type/SundayBestFancyShadow-Simple-webfont.svg#sunday_best_fancy_shadosimple') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chiser';
    src: url('type/chiser.eot');
    src: url('type/chiser.eot?#iefix') format('embedded-opentype'),
         url('type/chiser.woff2') format('woff2'),
         url('type/chiser.woff') format('woff'),
         url('type/chiser__.ttf') format('truetype'),
         url('type/chiser.svg#chiser') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chiseb';
    src: url('type/chiseb.eot');
    src: url('type/chiseb.eot?#iefix') format('embedded-opentype'),
         url('type/chiseb.woff2') format('woff2'),
         url('type/chiseb.woff') format('woff'),
         url('type/chiseb__.ttf') format('truetype'),
         url('type/chiseb.svg#chiser') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tex';
    src: url('type/texgyrebonum-regular.eot');
    src: url('type/texgyrebonum-regular.eot?#iefix') format('embedded-opentype'),
         url('type/texgyrebonum-regular.woff2') format('woff2'),
         url('type/texgyrebonum-regular.woff') format('woff'),
         url('type/texgyrebonum-regular__.ttf') format('truetype'),
         url('type/texgyrebonum-regular.svg#texgyrebonum-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-size: 38px;
}

#navbar {
	margin: 0 5% 0 0;
}

#navbar_cart {
	color: rgba(206, 70, 70, 0.8);
}

#navbar_cart:hover {
	color: white;
}

a {
	background-color: none;
	color: rgba(176, 165, 147, .8);
	font-family: 'chiser' sans-serif;
	font-size: 1.2em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a:hover{
    color:white;
}

ul.nav a:hover { background-color: rgba(01,01,01,0.5) !important;color:white; 
}



.navbar-background {
	background-color: rgba(0, 0, 0, 0.65);
	margin: 0 0 0 0;
	width: 100%;
}

.featuredProductTitle a {
    text-decoration:none;
   
}

#WHnavbar {
	font-family: 'Fancy' sans-serif;
	letter-spacing: ..6em;
	margin: 0 0 0 27%;
	width: 100%;
}

.homepage-border {
	border: solid 2px rgba(176, 165, 147, .8);
	margin: 11% 0 6% 0;
	padding: 2% 8% 5% 2%;
	

}

#homepage-border-mobile {
	margin: 24% 0 0 0;
	border: 2px solid rgba(176, 165, 147, .8) ;padding:30px;
}

#shop-border-mobile {
	padding: 2% 4% 0 4%;
	margin: 24% 0 0 0;
	border: 2px solid rgba(176, 165, 147, .8) ;padding:30px;	
}

#WinstonsHumidorhome {
	font-family: 'Fancy' serif;
	font-size: 7em;
	color: gray;

	text-transform: uppercase;
}

#ShopHomes_mobile {
	font-family: 'Fancy' serif;
	font-size: 4em;
	color: rgba(176, 165, 147, .6);
	margin: 8% 0 0 0;
	text-transform: uppercase;
}

#aboutHome {
	font-family: 'chiser' sans-serif;
	color: rgba(255, 255, 255, .5);
	font-size: 2em;
}

#AboutHomeMobile {
	font-family: 'chiser';
	color: rgba(255, 255, 255, .7);
	font-size: 2em;
}

#logo {
	margin: 30% 0 0 25%;
	width: 90%;
}

#content {
	background-color: rgb(176, 165, 147);
	padding: 5% 0 5% 0;
}

/*.background_color {
	background-color: rgb(176, 165, 147);
	padding: 0 0 5% 0;
}*/

#background {
	background-color: rgb(176, 165, 147);
}

.homeheadlines {
	margin-top:5%;
	font-family:'chiser';
	color: black;
	border-top: double  black;
	border-bottom: double  black;
	padding: .5%;
	font-size: 3em;
}

.shopheadlines {
	margin-top:5%;
	font-family:'chiser';
	color: rgb(176, 165, 147);
	border-top: double  rgb(176, 165, 147);
	border-bottom: double rgb(176, 165, 147);
	padding: .5%;
	font-size: 3em;
	
}


.eventsnippet {
	background-color: rgba(255, 255, 255, .5);
	border: 2px solid #000000;
	padding: 0% 2% 2% 2%;
    margin-top:2%;
}

.events_month {
	background-color: rgba(206,70,70,0.9); 
	font-family:'chiser';
	color: rgba(255,255,255,0.8);
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 2em;
	text-align: center;
	text-transform: lowercase;
}

.events_monthMOBILE {
	background-color: rgba(206,70,70,0.9); 
	font-family:'chiser';
	color: rgba(255,255,255,0.8);
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
	font-size: 1.5em;
	text-align: center;
	text-transform: lowercase;
}

.events_day {
	font-family:'tex';
	color: rgba(206,70,70,0.8);
	border: solid 2px rgb(206,70,70);
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
	font-size: 7em;
	margin: -8.5% 0 0 0;
	padding: 0 10% 0 10%;
}

.events_dayMOBILE {
	font-family:'tex';
	color: rgba(206,70,70,0.8);
	border: solid 2px rgb(206,70,70);
	border-bottom-right-radius: 20%;
	border-bottom-left-radius: 20%;
	text-align: center;
	font-size: 3em;
	margin: -16% 0 0 0;
	padding: 0 10% 0 10%;
}

.events_location{
	font-family:'chiser';
	/*font-size: 2em;*/
	color: rgb(206,70,70);
	text-align:center;
	margin:0% 0 0 0;
	text-transform: lowercase;
	font-size: 2em;
}

.events_locationMOBILE{
	font-family:'chiser';
	font-size: 1em;
	color: rgb(206,70,70);
	text-align:center;
	margin:0% 0 0 0;
	text-transform: lowercase
}

.datelocation {
	float: right;
	margin: -18% 0 0 0;


}

.datelocationMOBILE {
	float: left;
	margin: -55% 0 0 0;


}

.newsevent_p {
	color:rgba(0,0,0,0.6);
	font-family:'tex';
	margin: 1% 8% 1% 0;
	padding: 0 12.9% 0 0;
}

.newsevent_pMOBILE {
	color:rgba(0,0,0,0.6);
	font-family:'tex';
	margin: 2% 0 0 0;
	padding: 0 12.9% 0 0;
}

#continuereading {
	background-color: none;
}
.active {
    /*Hey, if you look above I switched out everything that was in here, to just the link element. The class .Active is also a bootstrap
        class that has some standard features we probably don't want to overwrite. So if you want to do something to a link specifically, just do it under 
        the a selector above. :) 
    */
}


.btn-news {
    color: rgba(0, 0, 0, 0.65);
    background-color:none;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:10px;
    padding-right:10px;
   border-radius:4px;
   
}

.btn-news2 {
	color: #fff;
    background-color: rgba(206, 70, 70, 0.9);
    padding-top:8px;
    padding-bottom:8px;
    padding-left:10px;
    padding-right:10px;
   border-radius:4px;
   
}

.btn-news:hover {
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.65);
	color: white;
}

.addToCart{
    font-family:sans-serif;background-color:#b8bfc7;color:white;padding:10px;border-radius:8px;text-decoration:none;font-size:large;
}
.addToCart:hover{
    font-family:sans-serif;background-color:#342A2A;color:white;padding:10px;border-radius:8px;text-decoration:none;font-size:large;
}

.btn-news2:hover {
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.65);
	color: white;	
}

#footer_background {
	background-color: rgba(10, 3, 0, 0.8);
	padding: 2% 0 3% 0;
}

#footer_border {
	border-top: double rgba(206, 70, 70, 0.9);
}

#footer_hours {
	float: left;
	margin: 1% 5% 0 10%;
}

#footer_contact {
	float: left;
	margin: 1% 0 0 0;
}

.footer_li {
	font-family: 'tex' serif;
	color: #fff;
	font-size: 1.1em;
}

.footer_ul {
	list-style: none;
}

#footer_images_top {
	margin: 2% 12% 1% 2%;
	
}

#footer_image_bottom {
	margin: 0 12% 0 0;
}

#shop_intro {
	color: rgba(176, 165, 147, .6);
	font-family: 'Fancy' serif;
	font-size: 10em;
	padding: 4% 0 0 0;
}

#shop_intro2 {
	font-size:8em; 
	font-family:'chiser'; 
	padding:15% 0 12% 5%; 
	letter-spacing:.2em;
	color: rgb(176, 165, 147);
}
.product_titles {
	color: rgba(176, 165, 147, .8);
}

.product_title_prices {
	background-color: rgba(176, 165, 147, .8);
	color: black;
}

.img-thumbnail {
	margin: 15% 0 1% 0;
}

.search_options {
	font-family: 'tex';
	color: rgba(176, 165, 147, .8);
}

#stayupdated_background {
	background-color:rgba(0,0,0,0.7); 
	padding: 1% 4% 10.5% 6%; 
	margin: -1.5% 0 0 0; 
	border: 1px solid black
}

#stay_updated {
	font-family:'chiser'; 
	font-size: 3em; 
	color:white;
}

#signup_ {
	font-family:'tex'; 
	font-size: 1.2em; 
	rgba(0,0,0,0.65); 
	color:rgba(255,255,255,0.7);
}

#subscrive_email {
	border:2px solid rgba(206,70,70,0.8);
	margin: 2% 0 1% 0; 
	width:95%;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #342A2A;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
.navbar {background-color:#342A2A;}
}

#headerwrap {
	


	
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#singlepost_headerwrap {
	background-color: rgb(176, 165, 147);
	font-family: 'chiser';

	text-align: left;
	margin: -10% 0 0 0;
	padding: 0 0 0 2%;
	position: fixed;
	width: 100%;
}

#singlepost_posttitle {
	margin: 20% 0 0 0;
	color: rgba(206, 70, 70, 0.9);
	font-size: 5em;
	font-family: 'fancy';
	text-transform: uppercase;
}

#singlepost_textbody {
	/*background-color: rgba(255, 255, 255, .7);*/
	border: 10px rgba(255,255,255,0.4) solid;
	color: rgba(255,255,255,0.4);
	padding: 4% 4% 4% 4%;
	font-family: 'tex';
	margin: 0 0 10% 0;
	text-align: justify;
}

#singlepost_datelocation {
	float: left;
	margin: -2% 5% 0 2%;
}

#singlepost_month {
	background-color: rgba(206,70,70,0.9); 
	font-family:'chiser';
	color: rgba(255,255,255,0.8);
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 2em;
	padding: 2% 0 2% 0;
	text-align: center;
	text-transform: lowercase;
	
}

#singlepost_day {
	font-family:'tex';
	color: rgba(206,70,70,0.8);
	border: solid 2px rgb(206,70,70);
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
	font-size: 8em;
	margin: -9.5% 0 0 0;
	padding: 0 10% 0 10%;
	
}

#singlepost_location{
	font-family:'chiser';
	font-size: 4em;
	color: rgb(206,70,70);
	text-align:center;
	margin:0% 0 0 0;
	text-transform: lowercase;
	font-size: 2em;
	
}

#singlepost_posted_by {
	color: rgba(0,0,0,0.7); 
	font-family: 'chiser'; 
	font-size: 1.2em;
	text-transform: uppercase;
}

#singlepost_post_date {
	color: rgba(0,0,0,0.4); 
	font-family: 'chiser'; 
	font-size: 1.2em;
	text-transform: uppercase;
}

#singlepost_post_type {
	color: rgba(255, 255,255,0.75); 
	font-family: 'chiser'; 
	font-size: 1.2em;
	text-transform: uppercase;
}

#singlepost_datelocationMOBILE {
	float: left;
	margin: -3% 3% 0 1%;
	
}

.homepagelinks {
color:white;border:2px solid white;font-size:x-large;font-weight:600;padding-top:6px;padding-bottom:6px;padding-left:40px;padding-right:40px;background-color:rgba(191,74,34,0.8);
}
.homepagelinks:hover {
color:#342A2A;font-size:x-large;border:2px solid white;background-color:white
}

.btnSubscribe {
background-color:#BF4A22;border:none;color:white;font-size:large
}

.orangetowhite:hover {
    color:white;
}

.homepagelinks2 {
color:#342A2A;border:2px solid white;font-size:x-large;font-weight:600;padding-top:6px;padding-bottom:6px;padding-left:40px;padding-right:40px;background-color:rgba(191,74,34,0.8)
}
.homepagelinks2:hover {
color:white;font-size:x-large;border:2px solid white;
}

#nofocus:focus{
    outline:0;
}