<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://www.winstonshumidor.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://winstonshumidor-001-site1.mysitepanel.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>winstonshumidor-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\winstonshumidor-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connex11" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRCDev-PC\SQL08;Initial Catalog=WinstonsHumidor;Integrated Security=False;User ID=sa;Password=ircrules34" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connex11_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRCDev-PC\SQL08;Initial Catalog=WinstonsHumidor;User ID=sa;Password=ircrules34;Integrated Security=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connex1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRCDev-PC\SQL08;Initial Catalog=WinstonsHumidor;Integrated Security=False;User ID=sa;Password=ircrules34" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connex1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRCDev-PC\SQL08;Initial Catalog=WinstonsHumidor;User ID=sa;Password=ircrules34;Integrated Security=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connex3" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=white.mysitehosted.com;Initial Catalog=WinstonsHumidor;Integrated Security=False;User ID=LE;Password=WebD00D91" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connex3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=white.mysitehosted.com;Database=WinstonsHumidor;User ID=LE;Password=WebD00D91;Integrated Security =false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connex2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=stem.arvixe.com;Initial Catalog=WinstonsHumidor;Integrated Security=False;User ID=mainuser;Password=WebD00D91" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connex2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=stem.arvixe.com;Database=WinstonsHumidor;User ID=mainuser;Password=WebD00D91;Integrated Security =false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connex" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5004.MySitePanel.net;Initial Catalog=DB_9DEDF6_Winstons;User Id=DB_9DEDF6_Winstons_admin;Password=StayHumble123!;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connex_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5004.MySitePanel.net;Initial Catalog=DB_9DEDF6_Winstons;User Id=DB_9DEDF6_Winstons_admin;Password=StayHumble123!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connex-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connex1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connex11-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connex2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connex3-Web.config Connection String" />
  </ItemGroup>
</Project>